@import "../../../node_modules/@fontsource-variable/montserrat/wght.css";
@import "../../../node_modules/@fontsource-variable/mulish/wght.css";

:root {
	--FontMain-Family: montserrat variable, ui-sans-serif, sans-serif;
	--FontAccent-Family: mulish variable, ui-sans-serif, sans-serif;

	font-family: var(--FontMain-Family);
	font-size: 0.875rem;
}
