.Logo-Link {
	margin-block: 0.5em;
	display: block flow-root;
	font-family: var(--FontAccent-Family);
}

.Logo-Image {
	display: block flow-root;
	block-size: 40px;
	inline-size: 106px;

	@media (width >= 768px) {
		block-size: 60px;
		inline-size: 159px;
	}
}
