{%- macro PostPreview(classes) -%}
	<template id="post-preview-template" data-project-root="{{ project.root }}">
		<li class="{{ classes }}">
			<article class="PostPreview">
				<div class="PostPreview-Text">
					<h2 class="PostPreview-Title"></h2>
					<p class="PostPreview-Category"></p>
					<div class="PostPreview-Body"></div>
					<p class="PostPreview-Meta">
						Posted by <span class="PostPreview-Author"></span>,
						on <time datetime="2019-07-24">July 24, 2019</time>
					</p>
					<a class="PostPreview-Button Button" href="javascript:void(0)">Continue reading</a>
				</div>
			</article>
		</li>
	</template>
{%- endmacro -%}
