.Header {
	background: var(--ColorUI-BG);
	padding-block: 15px;

	@media (--not-small) {
		box-sizing: border-box;
		padding-block: 30px;
	}

	@media (--only-large) {
		padding-block: 28px;
	}
}

.Header-Container {
	display: block flex;

	@media (--not-large) {
		position: relative;
	}

	@media (--not-small) {
		gap: 76px;
		justify-content: space-between;
	}
}

.Header-Logo {
	@media (--only-small) {
		margin-inline-start: auto;
	}
}

.Header-Navigation {
	@media (--not-large) {
		order: -1;
	}

	@media (--only-large) {
		align-self: center;
	}
}
